@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customsupdateeoriadminfrontend.views.html.Layout
@import uk.gov.hmrc.govukfrontend.views.html.components.{FormWithCSRF, GovukDateInput, GovukInput, GovukButton}

@this(
layout: Layout,
formHelper: FormWithCSRF,
govukDateInput: GovukDateInput,
govukInput: GovukInput,
govukButton: GovukButton
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("EORI number management service")) {
@formHelper(action = uk.gov.hmrc.customsupdateeoriadminfrontend.controllers.routes.CancelSubscriptionsController.confirmCancelSubscription()) {

<div class="govuk-width-container ">

    <a class="govuk-back-link" href='@uk.gov.hmrc.customsupdateeoriadminfrontend.controllers.routes.CancelEnrolmentsController.showPage()'>Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <h1 class="govuk-heading-l">
        Cancel subscriptions for:
    </h1>

    <div class="govuk-form-group">

        <p class="govuk-body">You can cancel GB205672212000’s subscriptions for:</p>

        <p class="govuk-body">You will not be able to cancel GB205672212000’s subscriptions for:</p>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                    Are you sure you want to cancel GB205672212000’s subscriptions?
                </h3>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirm-cancel-subscription-yes" name="confirm-cancel" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="confirm-cancel-subscription-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirm-cancel-subscription-no" name="confirm-cancel" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="confirm-cancel-subscription-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
            Confirm
        </button>
    </div>
    </main>
</div>

}
}
