@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import views.html.helper._
@import uk.gov.hmrc.customsupdateeoriadminfrontend.model.EoriAction

@this(
layout: Layout)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("EORI number management service")) {


<div class="govuk-form-group">
   @helper.form(uk.gov.hmrc.customsupdateeoriadminfrontend.controllers.EoriActionController.continueAction(), 'id -> "eoriActionForm")
    {
    @CSRF.formField
    <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Do you want to replace an existing EORI number or cancel subscriptions to HMRC services?
            </h1>
        </legend>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="update-eori" name="update-or-cancel-eori" type="radio" value="updateori">
            <label class="govuk-label govuk-radios__label" for="update-eori">
                Replace an existing EORI number
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cancel-eori" name="update-or-cancel-eori" type="radio" value="canceleori">
            <label class="govuk-label govuk-radios__label" for="cancel-eori">
                Cancel subscriptions to HMRC services
            </label>
        </div>
    </fieldset>

    <button class="govuk-button" data-module="govuk-button">
        Continue
    </button>
}
</div>

}
